body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #FFF;
    background-color: #333;
    display: flex;
    height: 75px;
}

h1 a {
    padding: 0 20px;
    height: 100%;
    text-decoration: none;
    color: #FFF; 
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    flex-grow: 1;
}

input, select {
    border: 2px groove #333;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-width: 0;
    color: white;
    background-color: #3366ff;
}

button:focus, button:hover {
    background-color: #1144dd;
}

button:active {
    background-color: #5588ff;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: #FFF; 
}

.nav-link:hover, .nav-link:focus {
    background-color: #555; 
}

.nav-link:active {
    background-color: #111; 
}

.main {
    margin-top: 75px;
}

.flex-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.context-group {
    flex-grow: 2;
}

#signup, #login {
    margin: auto;
    padding: 20px 0;
    justify-content: center;
    width: 400px;
}

#add-quote {
    margin: auto;
    padding: 20px 0;
    justify-content: center;
    width: 80%;
}

#submit-quote-btn, #add-line-btn {
    height: 100%;
}